.Pagination {
    margin-top: 20px;
    height: 60px;
    background-color: #fff;
    width: 100%;
    text-align: right;
}

.Pagination p {
    display: inline-block;
}

.Button {
    display: block;
    float: left;
    margin-top: 10px;
}

.Input {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    top: -2px;
}

.PaginationButton {
    margin-top: 10px;
}

.Number {
    font-size: 120%;
    margin: 10px;
}

@media (max-width: 430px) {
    .Pagination {
        padding: 5px;
        text-align: center;
        height: auto;
    }
    .Button {
        float: none;
        margin: 0 auto;
    }
}