.UserData {
    width: 100%;
    color: white;
    text-align: left;
    padding: 20px;
    border-bottom: 2px solid #21ABC2;
}

.UserImg {
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin: 5px 40px;
    border-radius: 50%;
}

.Label {
    font-size: 140%;
    margin-bottom: -5px;
}

.Data {
    font-weight: 100;
    padding-bottom: 10px;
    word-break: break-all;
    white-space: normal;
}

@media (max-height: 845px) {
    .UserImg {
        display: none;
    }
}