.UploadModal {
    width: 600px;
    overflow: hidden;
    padding: 20px;
    position: fixed;
    left: calc(50% - 300px);
    top: calc(50% - 20px);
    background-color: #fff;
    z-index: 1000;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.UploadModal input {
    max-width: 400px;
}

.Button {
    width: 150px;
}

@media (max-width: 600px) {
    .UploadModal {
        height: 200px;
        width: 320px;
        left: calc(50% - 160px);
        top: calc(50% - 100px);
        flex-direction: column;
    }
    .UploadModal input {
        max-width: 400px;
    }
    .Button {
        display: block;
        margin: 0 auto;
        width: 150px;
    }
}