.User {
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    text-align: left;
    padding-left: 5px;
    height: 60px;
    color: #2C3637;
    display: flex;
    justify-content: space-between;
}

.User p {
    display: inline-block;
    font-weight: 100;
    height: 60px;
    line-height: 60px;
}

.Button {
    display: block;
    float: right;
    margin-top: 10px;
}

@media (max-width: 800px) {
    .User {
        flex-direction: column;
        height: auto;
        padding: 5px;
    }
    .User p {
        line-height: normal;
        height: auto;
    }
    .Button {
        width: 150px;
        margin: 0 auto;
    }
}