.Button {
    height: 40px;
    text-transform: uppercase;
    margin: 0 10px;
    line-height: 43px;
    padding: 0 15px;
    border: none;
    color: white;
}

.Button:focus {
    outline: none;
}

.Button::-moz-focus-inner {
    border: 0;
  }  

.Button:hover {
    cursor: pointer;
}

.Green {
    background-color: #8DC63F;
}

.Green:hover {
    background-color: rgb(154, 216, 68);
}

.Blue {
    background-color: #3862AE;
}

.Blue:hover {
    background-color: rgb(62, 108, 194);
}

.Red {
    background-color: #D9534F;
}

.Red:hover {
    background-color: rgb(230, 89, 84);
}

.Cyan {
    background-color: #21ABC2;
}

.Cyan:hover {
    background-color: rgb(38, 191, 218);
}

.Yellow {
    background-color: #FBB040;
}

.Yellow:hover {
    background-color: rgb(255, 193, 101);
}