.ConfirmModal {
    width: 500px;
    padding: 20px;
    height: 108px;
    position: fixed;
    left: calc(50% - 250px);
    top: calc(50% - 54px);
    background-color: #fff;
    z-index: 1000;
    text-align: center;
}