.ModalEdit {
    width: 500px;
    padding: 20px;
    position: fixed;
    left: calc(50% - 250px);
    top: calc(50% - 170px);
    background-color: #fff;
    z-index: 1000;
    text-align: center;
}

@media (max-width: 500px) {
    .ModalEdit {
        width: 320px;
        left: calc(50% - 160px);
    }
}