.Navigation {
    margin-top: 30px;
}

.Link {
    height: 70px;
    padding: 5px;
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;
    position: relative;
    margin: 5px 0;
}

.active {
    background-color: #3B4749;
}

.Text {
    display: inline-block;
    position: absolute;
    font-size: 26px;
    margin-top: 13px;
}

.Icon {
    width: 70px;
    padding: 5px 10px;
}