.Home {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 60px);
    min-height: fit-content;
}