.SearchInput {
    display: inline-block;
    color: #2C3637;
    width: 260px;
    height: 60px;
    line-height: 60px;
}

.SearchInput input {
    border-radius: 5px;
    border: 1px solid #2C3637;
    width: 160px;
    margin-left: 10px;
    padding: 0px 3px;
    color: #2C3637;
}

@media (max-width: 1360px) {
    .SearchInput {
        display: block;
        width: 100%;
        text-align: left;
    }
    .SearchInput input {
        margin-top: 13px;
        float: right;
        width: calc(100% - 120px);
    }
}