.Input {
    margin: 10px;
}

.InputElement {
    width: 90%;
    border: 1px solid gray;
    border-radius: 5px;
}

.InputElement:focus {
    outline: none;
}

.Invalid {
    /* border: 1px solid red; */
    box-shadow: 1px 1px 1px red;
}

.Label {
    font-size: 120%;
    display: block;
}