.CompanyDetails {
    width: 90%;
    max-width: 1300px;
    min-width: 288px;
    background-color: #fff;
    text-align: left;
    display: flex;
    margin-top: 50px;
    overflow: auto;
}

.PhotoBg {
    height: 255px;
    width: 255px;
    min-width: 255px;
    margin: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #2C3637;
}

.Photo {
    width: 100%;
    padding: 45px 45px 45px 60px;
}

.Content {
    width: calc(100% - 250px);
}

.Details {
    display: inline-block;
    vertical-align: top;
    font-weight: 100;
    font-size: 120%;
    color: #2C3637;
}

.Details span {
    font-weight: 900;
    display: inline-block;
    width: 160px;
    font-size: 110%;
    color: black;
}

.Details p {
    margin: 15px;
}

.Buttons {
    text-align: right;
    padding: 0 10px 10px 0;
}

@media (max-width: 660px) {
    .CompanyDetails {
        flex-direction: column;
    }
    .PhotoBg {
        margin: 5px auto;
    }
    .Content {
        width: 100%;
    }
    .Data span {
        display: block;
    }
}

@media (max-width: 405px) {
    .Buttons button {
        display: block;
        margin: 5px auto;
        width: 150px;
    }
}