.Sidebar {
    position: relative;
    float: left;
    top: -60px;
    left: 0px;
    width: 250px;
    min-width: 250px;
    height: 100vh;
    background-color: #2C3637;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0px;
}

@media (max-width: 950px) {
    .Sidebar {
        position: absolute;
        z-index: 10;
        top: 0;
    }
}