.Search {
    background-color: #fff;
    width: 100%;
    text-align: left;
    height: 60px;
    padding: 5px;
}

.Button {
    display: block;
    float: right;
    margin-top: 10px;
}

@media (max-width: 1360px) {
    .Search {
        height: auto;
        text-align: center
    }
    .Button {
        float: none;
        display: inline-block;
    }
}