.Module {
    width: 100%;
    margin-top: 30px;
    background-color: #fff;
    text-align: left;
    padding: 5px;
}

.ModuleImg {
    height: 200px;
    padding: 20px;
    display: inline-block;
}

.Box {
    display: inline-block;
    width: calc(100% - 200px);
    vertical-align: top;
}

.Name {
    font-size: 120%;
    margin-top: 20px;
}

.Description {
    overflow: hidden;
}

.Button {
    display: block;
    float: right;
}

@media (max-width: 640px) {
    .Module {
        padding-bottom: 50px;
    }
    .ModuleImg, .Box {
        display: block;
    }
    .ModuleImg {
        margin: 0 auto;
    }
    .Box {
        width: 100%;
    }
}