.App {
  text-align: center;
  /* overflow: hidden; */
}

.Body {
  width: 100vw;
  display: flex;
}

.Content {
  display: inline-block;
  width: 100%;
  height: calc(100vh - 60px);
  clear: both;
  overflow-y: auto;
}