@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai');
* {
  font-family: 'Baloo Bhai', cursive;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0px;
  padding: 0px;
  z-index: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhai', cursive;
  background-color: #E7EBEE;
  overflow: hidden;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}